PORT=
HOST=

MONGO_URL=

JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRATION=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRATION=
ACTION_FORGOT_PASSWORD_SECRET=
ACTION_FORGOT_PASSWORD_EXPIRATION=
ACTION_VERIFY_SECRET=
ACTION_VERIFY_EXPIRATION=


SMTP_EMAIL=
SMTP_PASSWORD=

SENDGRID_API_KEY=
SEND_GRID_TO_EMAIL=

FRONT_URL=
FRONT_URL_OLD_VISIT=

AWS_S3_ACCESS_KEY=
AWS_S3_SECRET_KEY=
AWS_S3_BUCKET_NAME=
AWS_S3_REGION=
AWS_S3_ACL=
AWS_S3_ENDPOINT=
